<!doctype html>
<html>

<head>
  <meta charset="utf8">

  <title>Platform</title>

  <link rel="manifest" href="/site.webmanifest">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="/favicon.ico" sizes="any">
  <link rel="apple-touch-icon" href="/icon-192.png">
</head>

<body style="margin: 0; overflow: hidden;">
</body>

</html>