<!doctype html>
<html>

<head>
  <meta charset="utf8">
  <title>Huly</title>
  <link rel="shortcut icon" href="/huly/favicon.ico" sizes="any" id="default-favicon">
</head>

<body style="margin: 0; overflow: hidden;">
</body>

</html>