*.json                       linguist-language=JSON-with-Comments
*.yaml                       linguist-language=YAML
*.pnpm-lock.yaml             linguist-language=YAML
*.yarn.lock                  linguist-language=YAML
*.shrinkwrap.yaml            linguist-language=YAML
*.npm-shrinkwrap.json        linguist-language=YAML