*.ts linguist-language=TypeScript
*.d.ts linguist-language=TypeScript
*.json linguist-language=JSON-with-Comments
pnpm-lock.yaml merge=text
shrinkwrap.yaml merge=binary
npm-shrinkwrap.json merge=binary
yarn.lock merge=binary
DCO.md linguist-language=Markdown
DCO linguist-language=Markdown