# build output
dist/
lib/
**/types/

!packages/types/

# VS Code settings
.vscode/settings.json

# Jetbrains setting folder
.idea/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
