.textEditorImage {
  cursor: pointer;
  object-fit: contain;
}

// need to override editor's bubble max-width
// due to https://github.com/atomiks/tippyjs/issues/451
.tippy-box {
  max-width: 38rem !important;
}