@mixin bg-fullsize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin bg-layer($color, $opacity) {
  @include bg-fullsize;
  background: $color;
  opacity: $opacity;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == 'small' {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == 'medium' {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == 'large' {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
