.next-svg__xx-small {
  width: .75rem;
  height: .75rem;
}

.next-svg__x-small {
  width: .875rem;
  height: .875rem;
}

.next-svg__small {
  width: 1rem;
  height: 1rem;
}

.next-svg__medium {
  width: 1.25rem;
  height: 1.25rem;
}

.next-svg__large {
  width: 1.5rem;
  height: 1.5rem;
}

.next-label-overflow {
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}

.next-text-editor-view {
  color: var(--next-text-color-primary);
  margin: 0;
  p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: var(--next-text-color-tertiary);
    pointer-events: none;
    height: 0;
  }

  &:focus-within p.is-editor-empty:first-child::before {
    color: var(--next-text-color-tertiary);
  }
}


.next-colors {
  p.contrast {
    color: var(--next-text-color-primary) !important;
  }
}

