{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "trailingComma": "none",
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "printWidth": 120,
    "useTabs": false,
    "bracketSpacing": true,
    "proseWrap": "preserve",
    "plugins": []
}