build==1.2.1
CacheControl==0.14.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
crashtest==0.4.1
cryptography==42.0.5
distlib==0.3.8
dulwich==0.21.7
fastjsonschema==2.19.1
filelock==3.13.3
idna==3.6
importlib_metadata==7.1.0
installer==0.7.0
jaraco.classes==3.4.0
jeepney==0.8.0
keyring==24.3.1
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.2.0
msgpack==1.0.8
packaging==24.0
pexpect==4.9.0
pkginfo==1.10.0
platformdirs==4.2.0
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.7.1
ptyprocess==0.7.0
pycparser==2.22
Pygments==2.17.2
pyproject_hooks==1.0.0
rapidfuzz==3.7.0
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.7.1
SecretStorage==3.3.3
shellingham==1.5.4
tomli==2.0.1
tomlkit==0.12.4
trove-classifiers==2024.3.25
typer==0.12.0
typer-cli==0.12.0
typer-slim==0.12.0
typing_extensions==4.10.0
urllib3==2.2.1
virtualenv==20.25.1
zipp==3.18.1
