---
name: Docker push
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version tag for the image'
        required: false
        default: 'latest'
        type: string

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v1

      - name: "Login to GitHub Container Registry"
        uses: docker/login-action@v1
        with:
          username: hardcoreeng
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Docker meta
        id: metaci
        uses: docker/metadata-action@v3
        with:
          images: hardcoreeng/stream:${{ inputs.version }}
          tags: |
            type=ref,event=pr
            type=sha,prefix=

      - name: "Build and push"
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: hardcoreeng/stream:${{ inputs.version }}
