# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # - name: Checking for mis-matching dependencies...
      #   run: node common/scripts/install-run-rush.js check

      # - name: Checking for missing change logs...
      #   run: node common/scripts/install-run-rush.js change -v

      - name: Installing...
        run: node common/scripts/install-run-rush.js install

      - name: Building...
        run: node common/scripts/install-run-rush.js rebuild --verbose

      - name: Checking svelte sources...
        run: common/scripts/each.sh svelte-check
